body {
    background-color: rgb(3, 47, 61);
  }

  header {
    background-color: rgb(6, 44, 56);
    height: 300px;
    width: 700px;
  }

  h1 {
    font-size: 70;
    text-align: center;
    font: helvetica;
  }

  #dog-container {
    background-color: rgb(142, 228, 178);
    /* display: block; */
     position: fixed; 
    margin-left: 775px;
    /* margin-top: 300px;  
    margin-bottom: 700px; */
  /* margin-right: auto; */
    /* margin-left: 525px; */
    height: 400px;
    width: 400px;
    border-style: double;
   border-color: darkslategray;
   border-radius: 25px;
  }

    #dog-image {
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 25px;
    /* display: block; */
  
  } 

  #liked-dog-image {
    
     /* position: absolute;  */
     /* float: right;  */
    width: 100px;
    height: 100px;
    /* display: inline-block; */
    margin-left: 25;
    /* margin-right: auto; */ 
    border-radius: 25px;
    /* position: right; */
    /* position: absolute;  */
    /* display: block; */
    padding: 20px;
  } 

  #liked-dogs {
    
    background-color: rgb(9, 75, 37);
     position: fixed;  
    margin-left: 25px;
    margin-right: auto;
    
    height: 800px;
    width: 300px;
   border-radius: 25px;
   border-style: double;
   border-color: darkslategray;
  }

  #form-div {
    text-align: center;
    background-color: rgb(1, 15, 44);
     position: fixed; 
     margin-left: 400px;
     height: 100px;
    width: 300px;
   border-radius: 25px;
   border-style: double;
   border-color: darkslategray;

  }

  button {
    display: block;
    margin-left: auto;
    margin-right: auto;

  }