body {
    background-color: rgb(26, 133, 168);
  }

  header {
    background-color: rgb(6, 44, 56);
    height: 300px;
    width: 700px;
  }

  h1 {
    font-size: 70;
    text-align: center;
    font: helvetica;
  }

  #dog-container {
    margin-left: 525px;
    height: 100px;
    width: 100px;
    border:  20px;
    border-width: 25px;
   border-color: darkslategray;
  }

    #dog-image {
    width: 300px;
    height: 300px;
    /* display: block; */
  
  } 