body {
    background-color: rgb(3, 47, 61);
  }

  header {
    background-color: rgb(6, 44, 56);
    height: 300px;
    width: 700px;
  }

  h1 {
    font-size: 70;
    text-align: center;
    font: helvetica;
  }

  #dog-container {
    background-color: rgb(142, 228, 178);
    display: block;
  margin-left: 775px;
  position: fixed;
  /* margin-right: auto; */
    /* margin-left: 525px; */
    height: 400px;
    width: 400px;
    border-style: double;
   border-color: darkslategray;
   border-radius: 25px;
  }

    #dog-image {
    width: 300px;
    height: 300px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
    /* display: block; */
  
  } 

  #liked-dogs {
    background-color: rgb(9, 75, 37);
    position: absolute;
  /* margin-right: auto; */
    margin-left: 25px; */
    height: 400px;
    width: 400px;
    /* border-style: double;
   border-color: darkslategray; */
   border-radius: 25px;


  }

  button {
    display: block;
  margin-left: auto;
  margin-right: auto;

  }